<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resetar senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <p>Digite seu email para receber o link</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="O seu E-mail"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-button>Entrar</ion-button>
    </div>
  </form>

  <div class="login"><a [routerLink]="['/signup']">Eu sei minha senha</a></div>
</ion-content>