*{
  margin: 0;
}

.titulo{
  text-align: center;
  padding: 2rem;
}

.login {
  text-align: center;
  padding: 1rem;
}

ion-button {
  width: 100%;
  padding: 1rem;
}

ion-item {
  --background: #2e2e2e;
  border-radius: 10px;
  margin-bottom: 16px;
}