*{
  margin: 0;
}

div p {
  text-align: center;
  padding: 1rem;
}

ion-button {
  width: 100%;
  padding: 1rem;
}

form a{
  display: block;
  text-align: end;
  font-size: 12px;
  padding: 0.5rem;
}