*{
  margin: 0;
}

.titulo{
  text-align: center;
  padding: 2rem;
}

ion-button {
  width: 100%;
  padding: 1rem;
}

form .esqueciSenha{
  display: block;
  text-align: end;
  font-size: 12px;
  padding: 0.5rem;
}

.cadastro {
  text-align: center;
  padding: 1rem;
}

ion-item {
  --background: #2e2e2e;
  border-radius: 10px;
  margin-bottom: 16px;
}

form ion-input{
  color: white;
}