<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <p>Faça o login para ter acesso ao aplicativo</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <a class="esqueciSenha">Esqueci minha senha</a>
      <ion-button>Entrar</ion-button>
    </div>
    <div class="cadastro">
      <p>Não tem conta? <a>Cadastre-se</a></p>
      <!-- [routerLink="['/resetar-senha']"] -->
    </div>
  </form>
</ion-content>