<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <p>Faça o login para ter acesso ao aplicativo</p>
  </div>

  <form [formGroup]="loginForm">
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="E-mail"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
              <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?['email'].invalid">
                <ion-text *ngIf="errorControl.email.errors?.required">
                  Insira um e-mail.
                </ion-text>
                <ion-text *ngIf="errorControl.email.errors?.pattern">
                  Insira um e-mail válido.
                </ion-text>
              </div>
      <ion-item>
        <ion-input placeholder="Senha"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
            <div *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?['password'].invalid">
              <ion-text *ngIf="errorControl.password.errors?.required">
                Insira uma senha.
              </ion-text>
              <ion-text *ngIf="errorControl.password.errors?.pattern">
                a senha precisa ter uma letra maiúscula, uma letra minúscula, um caracter especial e um número. no mínimo oito caracteres
              </ion-text>
            </div>

      <a [routerLink]="['/reset-password']" class="esqueciSenha">Esqueci minha senha</a>
      <ion-button>Entrar</ion-button>
    </div>
    <div class="cadastro">
      <p>Não tem conta? <a [routerLink]="['/signup']">Cadastre-se</a></p>
    </div>
  </form>
</ion-content>